body,
aside,
article,
nav,
ul,
li,
a {
    margin-right: 0px;
    padding: 0;
    font-size: 20px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    padding: 0 20% 0 0;
}

.navLink:hover {
    background-color: yellow;
}

.nav {
    list-style: none;
    *zoom: 1;
    background: #175e4c;
    border-radius: 7pt;
}

.nav:before,
.nav:after {
    content: " ";
    display: table;
}

.nav:after {
    clear: both;
}

.nav ul {
    list-style: none;
    width: 9em;
}

.nav a {
    padding: 10px 15px;
    color: #fff;
}

.nav li {
    position: relative;
}

.nav > li {
    float: left;
}
.nav > li > a {
    display: block;
}

.nav > li.hover > ul {
    left: 0;
}

@media screen and (max-width: 768px) {
    .pdf {
      width: 200px;
      height: 200px;
    }
    .active {
        display: block;
    }
    .nav > li {
        float: inherit;
    }
    .nav ul li {
        display: inline;
        float: right;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
        float: left;
    }
    .nav > li.hover > ul {
        position: static;
    }
    #logo {
        display: none;
    }
}

body {
    font: 24px Helvetica;
    background: #fff;
}

#content {
    min-height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
}

#content nav {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    flex: 1 6 20%;
    height: auto;
}

#content aside {
    margin: 4px;
    padding: 5px;
    border-radius: 7pt;
    flex: 1 6 20%;
    order: 3;
}

#content article {
    background: #f3f3f3;
    padding: 5px;
    flex: 3 1 60%;
    order: 2;
    height: auto;
    height: auto;
    border-radius: 7pt;
    /*border: 1px solid red; */
}

header,
footer {
    height: auto;
    display: block;
    background: white;
    border-radius: 7pt;
}

#logo {
    width: 100%;
    float: left;
    margin: 0% 0 0 0%;
}

@media all and(max-width: 640px) {
    #content,
    #page {
        flex-direction: column;
    }
    #content>article,
    #content>nav,
    #content nav,
    header,
    footer {
        min-height: 30px;
        max-height: 50px;
    }
}

.profilePic {
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    float: left;
    display: block
}

#picProf {
    width: 100%;
    height: auto;
    display: block;
}

.homeImage {
    width: 100%;
    height: auto;
}

@import url(http://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

body,
figure {
    margin: 0;
    font-family: Istok Web, sans-serif;
    font-weight: 100;
}

div#captioned-gallery {
    width: 100%;
    overflow: hidden;
}

figure.slider {
    position: relative;
    width: 500%;
    font-size: 0;
    animation: 30s slidy infinite;
}

figure.slider figure {
    width: 20%;
    height: auto;
    display: inline-block;
    position: inherit;
}

figure.slider img {
    width: 100%;
    height: auto;
}

figure.slider figure figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 100%;
    font-size: 2rem;
    padding: .6rem;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#2693B3, #FEDFA8);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2693B3, #FEDFA8);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2693B3, #FEDFA8);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2693B3, #FEDFA8);
    /* Standard syntax */
}

.cate {
    font-size: 40px;
    font-style: oblique;
    text-decoration: underline;
    margin: 0px 0 0 30px;
}

.left,
.right {
    border-radius: 5px;
}


.right {
    float: left;
    margin-top: 50px;
    padding-left: 5px;
    /*margin-right: -10px;
    margin-left: 14%;*/
    height: auto;
    width: 99%;
    /*background-color: #E3EDD8; */
}

#footer {
    height: 40px;
    clear: both;
    position: relative;
    background-color: #C1E3E1;
}

h3 {
    text-decoration: underline;
}

#job-responsibilities {
    padding: 1px;
}

.job-title {
    font-weight: bold;
}

table {
    border: 1px dashed black;
}

td {
    padding: 2px;
    border: 1px solid #E88741;
}

#course-name {
    font-weight: bold;
}

#company-name {
    height: 2px;
    text-decoration: underline;
}

#job-title {
    height: 5px;
}

.job-duration {
    float: right;
}

#heading {
    font-weight: bold;
}

.biogra {
    display: block;
    float: left;
}

.projIm {
  width: 15%;
  float: :left;
  display: inline
}
.entry-social {
    margin-bottom: 20px;
    color: rgb(126, 126, 126);
    display: block;
    font-family: 'Open Sans', Tahoma, Verdana, Arial, sans-serif, Faruma, Faseyha;
    font-size: 14px;
    font-weight: normal;
    height: auto;
    line-height: 23.799999237060547px;
    margin-bottom: 20px;
    width: 100%;
    width: 100%;
    float: left;
    border: solid 0px #aaa;
    text-align: center;
}

.entry-social div {
    display: block;
    width: 138px;
    margin: 2px;
    display: inline-block;
    vertical-align: middle;
}

.entry-social a {
    text-decoration: none;
    display: block;
    padding-left: 20px;
    color: #FFFFFF !important;
    font-weight: bold;
    transition: background-color .3s;
}

.entry-social .fb a {
    padding: 7px 5px 7px 20px;
    background: #3B5999 url('http://3.bp.blogspot.com/-yqD2363XuAo/UeDk98twSlI/AAAAAAAAArg/kXIzFBWmczM/s1600/fb14.png') no-repeat 10px center;
}

.entry-social .twitter a {
    padding: 7px 10px 7px 32px;
    background: #01BBF6 url('http://3.bp.blogspot.com/-0u8P4VQmEeU/UeDlVdilwcI/AAAAAAAAAro/lGTnlvHGyVw/s1600/twitter14.png') no-repeat 8px center;
}

.entry-social .gplus a {
    padding: 7px 10px 7px 32px;
    background: #D54135 url('http://3.bp.blogspot.com/-A8fFRexz_zk/UeDlgadvpiI/AAAAAAAAArw/TRd7NWNwo9s/s1600/gplus14.png') no-repeat 10px center;
}

.entry-social .linkedin a {
    padding: 7px 10px 7px 32px;
    background: #136F9B url('http://4.bp.blogspot.com/-yuEMxhpIXPc/UeDltjBGR1I/AAAAAAAAAr4/kgidavlGbY8/s1600/linkedin14.png') no-repeat 10px center;
}

.entry-social .pinterest a {
    padding: 7px 10px 7px 22px;
    background: #CB2027 url('http://1.bp.blogspot.com/-v-ZkEQhYpug/UeDl6uIio-I/AAAAAAAAAsA/9rqq2cXT08k/s320/pinterest14.png') no-repeat 5px center;
}

.entry-social .github a {
    padding: 7px 10px 7px 22px;
    background: black url('http://www.socialtalent.co/wp-content/uploads/2016/08/github-bb449e0ffbacbcb7f9c703db85b1cf0b.png') no-repeat 10px center;
}

.entry-social .fb a:hover {
    background-color: rgb(50, 75, 129);
}

.entry-social .twitter a:hover {
    background-color: rgb(1, 159, 211);
}

.entry-social .gplus a:hover {
    background-color: rgb(191, 52, 40);
}

.entry-social .linkedin a:hover {
    background-color: rgb(15, 89, 125);
}

.entry-social .pinterest a:hover {
    background-color: rgb(174, 28, 35);
}

.entry-social .github a:hover {
    background-color: rgb(38, 90, 168);
}
