* {
    margin: 0;
    padding: 0;
}
html, body, #container {
  height: 100%;
}
header {
  height: 3%;
  background: gray;
}
main {
  height: calc(100% - 50px);
  background: green;
}
.half {
  background: #f3f5f6;
  border: 1px solid red;
  margin: 10px;
}

.half:nth-child(1) {
  height: 20%;
}

.half:nth-child(2) {
  height: 40%;
}
half:last-child {
  height: 40%;
}
