#page1 {
    background: url("http://i.imgur.com/mo5cw00.jpg");
}
#page2 {
    background: url("http://i.imgur.com/l7rZjcR.png");
}

#prof{
    width: 95%;
    height: auto;
    float: left;
    margin: 20px;
}
#headr {
    display: inline;
    margin-left: 30%;
}
#cointainer{
    width: 100%;
    font-size: 12px;
    overflow: hidden; /* contain floated elements */
}
#center {
    margin-left: 25%;
    float: left;
    background-color: #eee;
    width: 50%;
    height: auto;
    font-size: 20px;
}
#buttn{
    font-size: 30px;
    margin-left: auto;
}
.story {
    margin: 10px; 
    background-color: #fdffeb;
}

@media (max-width: 1000px) {
      p {
        width: 200px;
      }
    #buttn {
        width: auto;
    }
    #headr {
    display: inline;
    margin-left: 0%;
}
}
.para {
    font-family: inherit;
    color: black;
}